<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="UnoLisServer.Services.LoginManager">
        <endpoint address="LoginManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.ILoginManager" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8100/" />
            <add baseAddress="net.tcp://localhost:8101/" />
          </baseAddresses>
        </host>
      </service>
      <service name="UnoLisServer.Services.RegisterManager">
        <endpoint address="RegisterManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.IRegisterManager" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8102/" />
            <add baseAddress="net.tcp://localhost:8103/" />
          </baseAddresses>
        </host>
      </service>

      <service name="UnoLisServer.Services.ConfirmationManager">
        <endpoint address="ConfirmationManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.IConfirmationManager" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8104/" />
            <add baseAddress="net.tcp://localhost:8105/" />
          </baseAddresses>
        </host>
      </service>

	  <service name="UnoLisServer.Services.ProfileViewManager">
	    <endpoint address="ProfileViewManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.IProfileViewManager" />
		  <host>
			<baseAddresses>
			  <add baseAddress="http://localhost:8106/" />
			  <add baseAddress="net.tcp://localhost:8107/" />
			</baseAddresses>
		  </host>
	  </service>

	  <service name="UnoLisServer.Services.ProfileEditManager">
	    <endpoint address="ProfileEditManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.IProfileEditManager" />
		  <host>
			<baseAddresses>
			  <add baseAddress="http://localhost:8108/" />
			  <add baseAddress="net.tcp://localhost:8109/" />
			</baseAddresses>
		  </host>
	  </service>

      <service name="UnoLisServer.Services.PartyHostManager">
        <endpoint address="PartyHostManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.IPartyHostManager" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8110/" />
            <add baseAddress="net.tcp://localhost:8111/" />
          </baseAddresses>
        </host>
      </service>
      <service name="UnoLisServer.Services.PartyClientManager">
        <endpoint address="PartyClientManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.IPartyClientManager" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8112/" />
            <add baseAddress="net.tcp://localhost:8113/" />
          </baseAddresses>
        </host>
      </service>

      <service name="UnoLisServer.Services.GameplayManager">
        <endpoint address="GameplayManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.IGameplayManager" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8114/" />
            <add baseAddress="net.tcp://localhost:8115/" />
          </baseAddresses>
        </host>
      </service>

      <service name="UnoLisServer.Services.NotificationsManager">
        <endpoint address="NotificationsManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.INotificationsManager" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8116/" />
            <add baseAddress="net.tcp://localhost:8117/" />
          </baseAddresses>
        </host>
      </service>
	 <service name="UnoLisServer.Services.ChatManager">
    <endpoint address="ChatManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.IChatManager" />
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:8118/" />
        <add baseAddress="net.tcp://localhost:8119/" />
      </baseAddresses>
    </host>
  </service>

  <service name="UnoLisServer.Services.LeaderboardsManager">
    <endpoint address="LeaderboardsManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.ILeaderboardsManager" />
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:8120/" />
        <add baseAddress="net.tcp://localhost:8121/" />
      </baseAddresses>
    </host>
  </service>

  <service name="UnoLisServer.Services.ShopManager">
    <endpoint address="ShopManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.IShopManager" />
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:8122/" />
        <add baseAddress="net.tcp://localhost:8123/" />
      </baseAddresses>
    </host>
  </service>

  <service name="UnoLisServer.Services.FriendsManager">
	<endpoint address="FriendsManager" binding="netTcpBinding" contract="UnoLisServer.Contracts.Interfaces.IFriendsManager" />
	  <host>
		<baseAddresses>
		  <add baseAddress="http://localhost:8124/" />
		  <add baseAddress="net.tcp://localhost:8125/" />
		</baseAddresses>
	  </host>
  </service>
	
    </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>